<section class="index">
  <header>
    <div class="overlay"></div>
    <figure><%= image_tag 'background.png' %></figure>

    <div class="content">
      <h1>
        <figure><%= image_tag 'logo.svg' %></figure>
      </h1>
      
      <h2>Ember, Rails and Elixir consulting in London</h2>
      <a href="#team">Meet the team</a>
    </div>
  </header>

  <main>
  </main>

  <footer>
  </footer>
</section>
