<section class="index">
  <header>
    <div class="overlay"></div>
    <figure><%= image_tag 'background.png' %></figure>

    <div class="content">
      <h1>
        <figure><%= image_tag 'logo.svg' %></figure>
      </h1>

      <h2>Ember, Rails and Phoenix<br> consulting in London</h2>
      <a data-scroll href="#team">Meet the team</a>
    </div>
  </header>

  <main>
    <section class="team" id="team">
      <h1>Meet The Team</h1>

      <ul>
        <li>
          <article>
            <figure>
              <img src="https://avatars3.githubusercontent.com/u/151741?v=3&s=160"></img>
            </figure>

            <div class="actions">
              <h1>Eugenio Depalo</h1>
              <a class="resume" href="http://eugeniodepalo.com" target="_blank">Resume</a>
            </div>
          </article>
        </li>

        <li>
          <article>
            <figure>
              <img src="https://avatars3.githubusercontent.com/u/151725?v=3&s=160"></img>
            </figure>

            <div class="actions">
              <h1>Matteo Depalo</h1>
              <a class="resume" href="http://matteodepalo.com" target="_blank">Resume</a>
            </div>
          </article>
        </li>
      </ul>
    </section>
  </main>

  <footer>
    <small>© Copyright 2015, Caldera Labs Ltd</small>
  </footer>
</section>
