<section class="index">
  <header>
    <h1></h1>
    <h2>Ember, Rails and Elixir consulting in London</h2>
    <a href="#team">Meet the team</a>
  </header>

  <main>
  </main>

  <footer>
  </footer>
</section>
